@model IEnumerable<Ictshop.Models.Nguoidung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .btn-edit {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 4px;
    }

    .btn-details {
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 4px;
    }

    .btn-delete {
        background-color: #dc3545;
        color: #fff;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 4px;
    }
</style>
<h2>Quản lý người dùng</h2>

<p>
    @*<button class="btn-default"> @Html.ActionLink("Thêm mới", "Create") </button>*@
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhanQuyen.TenQuyen)
        </th>
        <th> Hành động</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Hoten)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dienthoai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Matkhau)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Diachi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhanQuyen.TenQuyen)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.MaNguoiDung }, new { @class = "btn-edit" })
        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaNguoiDung }, new { @class = "btn-details" }) 
        @Html.ActionLink("Xoá", "Delete", new { id = item.MaNguoiDung }, new { @class = "btn-delete" })
    </td>
</tr>
}

</table>
