@using Ictshop.Models;
@model List<Post>
<style>
    .bg-danger h3 {
        background-color: #F0F0F0;
        color: black;
    }
    .row2 {
        float: left;
        width: 70%;
    }
    .title {
        color: black;
    }
    .row2 input{
        color:black;
        height:40px;
        width:100px;
    }
    .row2 input:hover{
        background:red;
        color:azure;
    }
    .bg-danger {
        background-color: #F0F0F0;
        padding: 20px;
    }

    .fa-solid a {
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
    }

        .fa-solid a:hover {
            text-decoration: none;
            color: red;
        }

    .fa-solid {
        font-size: 30px;
    }
</style>
<div class="row2">
    <div class=" bg-danger"><i class="fa-solid fa-record-vinyl"><a>Tin mới đánh giá sản phẩm</a></i></div>
    <div class="container">
        @for (int i = 0; i < Model.Count; i += 2)
        {
            @:<div class="row2">
                <div class="col-md-12">
                    <div class="item">
                        <a href="@Url.Action("xemchitiet", new { @Masp = Model[i].Id })">
                            <img src="@Url.Content("~/HinhanhSP/" + Model[i].Anh)" class="img-responsive" alt="" width="750" height="400" />
                            <h3 class="title" style="color:black;">@Model[i].Title</h3>
                            <p class="fa-regular fa-clock" style="color: red; font-size: 12px;">      @Model[i].Posted_on</p>
                            <p style="color:black; font-size:20px;">@Model[i].Mota......</p>
                            <input type="submit" value="Xem thêm"/>
                        </a>
                    </div>
                </div>
                if (i + 1 < Model.Count)
                {
                    <div class="col-md-6">
                        <div class="item">
                            <a href="@Url.Action("xemchitiet", new { @Masp = Model[i + 1].Id })">
                                <h3>@Model[i + 1].Title</h3>
                                <img src="@Url.Content("~/HinhanhSP/" + Model[i + 1].Anh)" class="img-responsive" alt="" width="400" height="400" />
                            </a>
                        </div>
                    </div>
                }
            @:</div>
        }
    </div>
</div>